/* INDEX */
body{
    background-color: #3E3F41;

}

/*TExt*/
.color{
  color:   #EDA605;

}
figure img{
    width: 30%;
    margin-left: 36%;
    padding-top: 50px;
}

/*FOrm*/
.form-input{
padding-top: 20px;
background-color: white;
margin: 8%;
}
.color-background{
     background-color:   #EDA605;

}

.forget{
    color: white;
    margin: 8%;
}
.sign-up{
    color: white;
    text-transform: uppercase;
}
