/*=============================================
=            TAX MONEY            =
=============================================*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dddee0;
}


/**
 *
 * SIDE-NAVBAR
 *
 */

nav {
    background-color: #3E3F41;
}


/**
 *
 * BUTTONS
 *
 */
#calculate{
    background-color: #EDA605;
    margin-bottom: 0;
}


/**
 *
 * HIDE BOX
 *
 */
.hide-box{
    
}
.title {
    background-color: #3E3F41;
    color: white;
    margin-top: 20%;
}

.yellow-container {
    background-color: #EDA605;
    color: white;
    padding-top: 5px;
    font-size: 50px;
}
.margin{
    margin-top: 2px;
}
/*=============================================
=            ICONS            =
=============================================*/

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    color: #EDA605;
}


/*=====  End of Section TAX-MONEY ======*/