/*=============================================
=            FREQUENTLY QUESTIONS             =
=============================================*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dddee0;
}


/**
 *
 * SIDE-NAVBAR
 *
 */

nav {
    background-color: #3E3F41;
}


/**
 *
 * TITLE
 *
 */

.frequently-question {
    background-color: #EDA605;
    color: white;
    height: 25vh;
    padding-top: 5%;
    text-transform: uppercase;
}

.items {
    margin-top: 30px;
}


/*=============================================
=            ICONS            =
=============================================*/

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {
    color: #EDA605;
}


/*=====  End of Section FREQUENTLY QUESTIONS ======*/