body {
    background-color: #3E3F41;
    font-family: 'Roboto', sans-serif;
}


/*=============================================
=            INDEX + TEXT            =
=============================================*/

.color {
    color: #EDA605;
}

figure img {
    width: 30%;
    margin-left: 36%;
    padding-top: 50px;
}
h1{
    font-size: 30px;
    font-weight: 700;
}
h6{
    padding-bottom: 30px;
}

/*=============================================
=            FORMULARIO          =
=============================================*/

.form-input {
    padding-top: 20px;
    background-color: white;
    margin: 8%;
}

.color-background {
    background-color: #EDA605;
    height: 6vh;
}

.forget {
    color: white;
    margin: 8%;
}

.sign-up {
    color: white;
    text-transform: uppercase;
}


/*=====  End of Section INDEX ======*/